<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-VD765VFTKL"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-VD765VFTKL');
    </script>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"]</title>

    <link rel="icon" type="image/png" href="~/WebIcon.ico" sizes="64x64">

    @* Boostrap *@
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" href="~/lib/bootstrap-icons/font/bootstrap-icons.min.css"/>

    @* Custom CSS *@
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/Sort/MainSort.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/NavBar.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/ScrollBar.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/Spacers.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/Scroll.css" asp-append-version="true"/>

    @* Highlight.js *@
    <link rel="stylesheet" href="~/lib/highlight.js/styles/atom-one-dark.min.css">

    @* Video.js *@
    <link rel="stylesheet" href="~/lib/video.js/video-js.min.css"/>
    <link rel="stylesheet" href="~/css/YoutubeVideo.css"/>

    @await RenderSectionAsync("Styles", required: false)


</head>
<body>
    <partial name="_NavBar"/>
    
    <div onclick="location.href = '/video'" id="ShowMore"></div>

    <div class="container">
        <main role="main" class="pb-3">
            @if (!string.IsNullOrEmpty(ViewBag.Category))
            {
                <div class="mini-header">@Html.Raw(ViewBag.Category)</div>
            }
            @RenderBody()
        </main>
        @if (ViewData["Author"] != null)
        {
            <div class="writer text-center">Napsal: <span class="text-primary">@ViewData["Author"]</span></div>
        }
        @if (ViewData["Editor"] != null)
        {
            <div class="writer text-center">Upravil: <span class="text-primary">@ViewData["Editor"]</span></div>
        }
    </div>
    <a href="#" id="GoUp" class="go-up go-up-notActive"><i class="bi bi-chevron-up"></i></a>

    <div class="spacer down-spacer"></div>

    @* Jquery *@
    <script src="~/lib/jquery/jquery.min.js"></script>

    @* Boostrap *@
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>

    @* Video.js *@
    <script src="~/lib/video.js/video.min.js"></script>

    <script src="~/lib/highlight.js/highlight.min.js"></script>


    @* Highlight.js *@
    <script>hljs.highlightAll();</script>


    @* Custom JS *@
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/ScrollAnimate.js" asp-append-version="true"></script>
    @if (ViewBag.GenerateContent == true)
    {
        <script src="~/js/ContentWriter.js" asp-append-version="true"></script>
    }
    @await RenderSectionAsync("Scripts", required: false)
    
    <script data-name="BMC-Widget" data-cfasync="false" src="https://cdnjs.buymeacoffee.com/1.0.0/widget.prod.min.js" data-id="Jbohacek" data-description="Support me on Buy me a coffee!" data-message="Ahoj, pracuji na tomto webu už čtyři měsíce. Byl bych moc vděčný za příspěvek. Děkuji! 💖" data-color="#5F7FFF" data-position="Right" data-x_margin="18" data-y_margin="18"></script>

    </body>
</html>
